{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
    {{ content_top }}

    <!-- Выводим соответствующий текст, если модуль включен или выключен -->
    {% if module_example_status %}
    <h1>{{ text_example }}</h1>
    {% else %}
    {{ text_error }}
    {% endif %}

    {{ content_bottom }}
    </div>
    {{ column_right }}
</div>
{{ footer }}